<section  id="news" class=" burger bg-white deviceRow">
    <div class="row">
        <div class="col-lg-12  text-center">
            <h1 class="wow fadeInUp newscolumn-header" data-wow-delay=".5s" data-wow-duration="1s">ProximaX Suite Latest Updates</h1>
            <div class=" col-lg-6 newscolumn">
                <img src="images/blogs/proximax_suite_blog1.jpg" alt="">
            </div>
            <div class=" col-lg-6 newscolumn">
                <h1 class="newsTitle">ProximaX Suite – BLOCKCHAIN Your Workspace</h1>
                <a href="https://blog.proximax.io/proximax-suite/" target="_blank">Read More</a>
            </div>
        </div>
    </div>
</section>