<section style="background:#000;">
<div class="z-slide-wrap top text-center" id='slider1'>
    <ul class="z-slide-content">
        <li class="z-slide-item">
            <a href="#tip1">
                <p class="smallText" >Secure & Private</p>
                <h2>Blockchain Asymmetric Encryption </h2>
                <p>The first of its kind, ProximaX Suite deploys a blockchain asymmetric encryption technology that seamlessly enables file owners to decrypt their own files. The naturally demanding asymmetric encryption takes on a pioneering mathematical approach to protecting data, different from most cloud providers’ AES-256 encryption. This means users of ProximaX Suite like you have absolute control to create, edit, share, and delete your own files safely and securely. </p>
            </a>
        </li>
        <li class="z-slide-item">
            <a href="#tip2">
                <p class="smallText" >Distributed & Scalable</p>
                <h2 >Efficient File Organization Tool</h2>
                <p>Users are able to store encrypted information in a distributed environment where files in a decentralised network are broken apart and spread across various nodes, making it impossible for anyone to access the entire content as the files are sharded. ProximaX Suite combines both blockchain and IPFS technology backed by Tendermint consensus mechanism. Each file has its unique cryptographic hash which is searchable in the blockchain explorer.</p>
            </a>
        </li>
        <li class="z-slide-item">
            <a href="#tip3">
                <p class="smallText" >Easy to Use & Resilient</p>
                <h2 >Blockchain-based File Encryption </h2>
                <p >File owners have full access and control of their own data. Users are able to create, edit and share any file safely powered by ProximaX blockchain layer at its core. Instead of an AES encryption key, the blockchain asymmetric encryption allows only owners to decrypt each file. </p>
            </a>
        </li>
    </ul>
</div>
</section>